<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFeelsLike Watch App Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyFeelsLike.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyFeelsLikeComplicationExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>155ADB652FE9F0FC00339B99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>155ADB942FE9F22100339B99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>159E8A0E2FAFC3CA0003EBF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>159E8A1D2FAFC3CF0003EBF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>159E8A272FAFC3CF0003EBF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
