<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Find nearby MyFeelsLike users so you can compare your feels-like colors.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_mfl-compare._tcp</string>
		<string>_mfl-compare._udp</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>robotex.MyFeelsLike.compare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myfeelslike</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>robotex.MyFeelsLike.comparefile</string>
			<key>UTTypeDescription</key>
			<string>MyFeelsLike comparison</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>myfeelslike</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MyFeelsLike comparison</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>robotex.MyFeelsLike.comparefile</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
